{
    "ready" : [
        {"name" : "hello my name is task #6"},
        {"name" : "hello my name is task #3"},
        {"name" : "hello my name is task #2"}
    ],
    "in-progress" : [
        {"name" : "hello my name is task #6"},
        {"name" : "hello my name is task #6"}
    ]
}